.abilitiesSection {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 3px;
}

.abilitiesSection > section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    width: 100%;
    border: 3px solid var(--color-red);
    border-radius: 10px;
}

.acordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}

.acordionHeader > h3 {
    font-weight: 600;
    font-size: 1.5rem;
}

.abilityDetail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out;
    overflow: hidden;
}

.abilityDetail > h5 {
    text-transform: capitalize;
    font-style: italic;
}
