@import url('../css/allImports.css');

/*-- GENERAL --*/

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.posRel {
    position: relative;
}

body {
    font-size: 15px;
    font-family: 'OpenSans-Regular', sans-serif;
    background-color: var(--color-light-grey);
    color: var(--color-black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-black);
}

p,
span {
    color: var(--color-light-black);
}

.center {
    width: 80%;
}
