header.mainHeader {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-red);
  padding: 1.5rem 2rem;
  z-index: 9999;
  box-shadow: var(--small-shadow);
}

header.mainHeader > .mainLogo {
  width: 12%;
  cursor: pointer;
}

header.mainHeader > .mainLogo img {
  width: 100%;
}
